<div class="animated zoomIn" align="center">
	<h2>Connect</h2>
	<br><hr>
	<div>
		<a href="https://www.facebook.com/dhrubomoy"><i class="fa fa-facebook-square fa-4x"></i></a>&nbsp;&nbsp;
	  <a href="https://twitter.com/dhrubo_moy"><i class="fa fa-twitter-square fa-4x"></i></a>&nbsp;&nbsp;
	  <a href="https://ca.linkedin.com/in/dhrubomoy-das-gupta-18b2709a"><i class="fa fa-linkedin-square fa-4x"></i></a>&nbsp;&nbsp;
	  <a href="https://soundcloud.com/dhrubomoydasgupta"><i class="fa fa-soundcloud fa-4x"></i></a>
	</div>
	<hr>
</div>